@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/Merriweather-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/Merriweather-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/Merriweather-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Sans';
  src: url('../assets/fonts/merriweather-sans-v26-latin-regular') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Sans';
  src: url('../assets/fonts/merriweather-sans-v26-latin-500.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
